[Unit]
Description=Midirun Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/midirun -d
ExecReload=/bin/kill -HUP $MAINPID
SyslogIdentifier=midirun
Restart=on-failure

[Install]
WantedBy=default.target

